

sudo apt install -y libsm6 libxext6

sudo apt install -y libxrender-dev

conda create -n vehicle_opencv

conda  activate vehicle_opencv

conda install python=3.6

pip install cmake==3.12.0

pip install dlib==19.16.0

pip install opencv-python==3.4.3.18
cd project_directory

time python speed_check.py
